<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <link rel="stylesheet" href="/static/css/blog.css" type="text/css">
    <script>
        function toggleTheme() {
            const body = document.body;
            const currentTheme = body.classList.contains('dark-theme') ? 'dark' : 'light';

            if (currentTheme === 'dark') {
                body.classList.remove('dark-theme');
                body.classList.add('light-theme');
            } else {
                body.classList.remove('light-theme');
                body.classList.add('dark-theme');
            }
        }
    </script>


</head>

<body class="light-theme">
    <div class="main-div">
        <div class="navbar" hx-ext="client-side-templates">
            <ul>
                <li><a href="/">

                        <h2>Home</h2>

                    </a>
                </li>
                <li>
                    <a href="/newblog">

                        <h2>New Blog</h2>

                    </a>
                </li>
                <li>
                    <a href="/author">

                        <h2>Become an Author</h2>

                    </a>
                </li>
                <li><a style="margin-top: 1.3rem;"><button onclick=" toggleTheme()"><img class="htmx-indicator"
                                src="/static/img/icon.png"></button>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <form class="form-center" hx-post="/author">
                <h1>Hey! Welcome to the party...</h1>
                <input placeholder="Name" type="text" id="name" name="name" required><br>
                <input placeholder="Email" type="email" id="email" name="email" required><br>
                <input placeholder="Password" Emailtype="password" id="password" name="password" required><br>

                <button type="submit" hx-post="author">Create Account</button>
            </form>
        </div>
    </div>
</body>

</html>