<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <script>
        function toggleTheme() {
            const body = document.body;
            const currentTheme = body.classList.contains('dark-theme') ? 'dark' : 'light';

            if (currentTheme === 'dark') {
                body.classList.remove('dark-theme');
                body.classList.add('light-theme');
            } else {
                body.classList.remove('light-theme');
                body.classList.add('dark-theme');
            }
        }
    </script>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-peach-fuzz">
        <a class="navbar-brand" href="/">Persoanl blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/newblog">Create Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/author">Become Author</a>
                </li>
                <!-- <li>
                    <a class="nav-link"><button onclick=" toggleTheme()"><img class="htmx-indicator"
                                src="/static/img/icon.png"></button>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5" id="result">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center mb-4">Welcome to Our Blog!</h1>
                <div id="blogTitles">
                    <!-- Your existing code for fetching blog titles -->
                    <div hx-ext="client-side-templates">
                        <div hx-get="/blog/?author_id=1&post_id=0" hx-trigger="load" hx-target="#author"
                            mustache-template="blog-title">
                            <div id="author">{{.data}}</div>
                        </div>
                        <template id="blog-title">
                            {{#data}}
                            <a href="#" hx-get="/blog/?author_id={{author_id}}&post_id={{id}}" hx-trigger="click"
                                hx-target="#result" hx-swap="innerHTML" mustache-template="blog-content">
                                <h2>{{title}}</h2>
                            </a>
                            {{/data}}
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-8 offset-md-2">
                <div hx-ext="client-side-templates">
                    <template id="blog-content">
                        {{#data}}
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title">{{title}}</h2>
                                <h6 class="card-subtitle mb-2 text-muted"> {{published_date}}</h6>
                                <div class="card-text">{{{content}}}</div>
                                <div class="text-center mt-3">
                                    <a href="#" class="btn btn-primary">Back to All Posts</a>
                                </div>
                            </div>
                        </div>
                        {{/data}}
                    </template>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center mb-4">Welcome to Our Blog!</h1>
                <div id="blogTitles">

                </div>


            </div>
        </div> -->
        <!-- <div hx-ext="client-side-templates">
            <template id="blog-content">

                {{#data}}

                <h2 class="title text-center font-bold"> {{title}}</h2>
                <h5> Date Published: {{published_date}}</h5>
                <div class="content list list-item my-6 "> {{{content}}}</div>

                <div class="text-center mt-5">
                    <a href="#" class="btn btn-primary">Back to All Posts</a>
                </div>
                {{/data}}
            </template>
        </div>
        <div class="text-center mt-5">
            <a href="#" class="btn btn-primary">Back to All Posts</a>
        </div> -->
    </div>
</body>

</html>